{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Мої нотатки</title>

  <!-- ОБОВʼЯЗКОВО для JS -->
  <meta name="csrf-token" content="{{ csrf_token }}">

  <link rel="stylesheet" href="{% static 'notes/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

  <!-- Навігаційне меню -->
  <header>
    <nav>
      <ul class="menu">
        <li><a href="{% url 'main_home' %}">Головна</a></li>
        <li><a href="{% url 'note_list' %}">Додати нотатку</a></li>

        {% if user.is_authenticated %}
          <li>
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="menu-btn-link">Вийти</button>
            </form>
          </li>
        {% else %}
          <li><a href="{% url 'auth_choice' %}">Реєстрація/вхід</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  {% block content %}{% endblock %}
</body>
</html>